/nbproject/private/
/build/
/dist/
/JTP Lab 7/nbproject/private/
/JTP Lab 7/build/
/Szachownica/nbproject/private/
/Szachownica/build/
/Szachownica1/nbproject/private/
/Szachownica1/build/
/TestGrafiki/nbproject/private/
/TestGrafiki/build/